.header {
    padding-top: 300px;
    padding-bottom: 145px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.orange-text {
    color: #f1ad1d;
}
.text-center {
    text-align: center;
}
.orange-line::after {
    margin-top: 52px;
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 3px;
    content: "";
    background-color: #f1ad1d;
}
.white-line::after {
    margin-top: 52px;
    margin: 0 auto;
    display: block;
    width: 280px;
    height: 3px;
    content: "";
    background-color: #ffffff;
}
.header-company-name {
    margin-bottom: 16px;
    font-family: 'MyOwnFont', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}
.company-description {
    margin-bottom: 28px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
}
.slogan-company{
    display: flex;
    justify-content: flex-start;
}
.slogan-company-first-word {
    padding: 45px 40px;
    display: inline-block;
    border: 2px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
}
.slogan-words {
    padding: 45px 40px;
    display: inline-block;
    border: 2px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
}
.about-company {
    padding-top: 130px;
    padding-bottom: 120px;
}
.section-title {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-description {
    margin-bottom: 57px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}
.slogan1 {
    padding-bottom: 150px;
    padding-top: 150px;
   background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slogan-title {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.slogan2 {
    padding-bottom: 166px;
    padding-top: 131px;
     background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.slogan2-images {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    display: flex;
    justify-content: center;
}
.slogan2-img {
    padding-left: 55px;
    max-width: 100%;
}
.slogan3 {
    padding-bottom: 166px;
    padding-top: 131px;
     background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.white-text {
    color: #ffffff;
}
.slogan3-description {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 513px;
}